In [1]:
import pandas as pd
from pathlib import Path

In [2]:
data_dir = Path("/mnt/data1/datasets/RadiomicsHub/LNDb")

In [3]:
df = pd.read_csv(data_dir / "trainNodules.csv")

In [4]:
df["image_path"] = df.apply(lambda x: f"/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-{int(x['LNDbID']):04}.mhd", axis=1)
df["coordX"] = df["x"]
df["coordY"] = df["y"]
df["coordZ"] = df["z"]

df["texture"] = df["Text"][df["Text"] != 0]
df["texture"] = df["texture"].map({1: 0, 2: 0, 3: 1, 4: 2, 5: 2})

df = df[["image_path", "coordX", "coordY", "coordZ", "texture"]]

In [5]:
df

,image_path,coordX,coordY,coordZ,texture
0,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-000...,-44.608398,-119.073242,-37.500000,2.0
1,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-000...,25.852539,-126.969727,-45.500000,2.0
2,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-000...,-44.000977,-118.465820,-37.500000,2.0
3,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-000...,-44.000977,-119.680664,-37.500000,2.0
4,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-000...,88.895508,-123.625977,-129.500000,2.0
...,...,...,...,...,...
1522,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-031...,-61.421900,-221.223863,-1082.705868,NaN
1523,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-031...,97.832825,-63.763479,-1177.533513,NaN
1524,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-031...,-50.744508,-49.309899,-1176.200246,NaN
1525,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-031...,99.839636,-63.420362,-1134.356620,NaN
1526,/mnt/data1/datasets/RadiomicsHub/LNDb/LNDb-031...,-91.313708,-79.837964,-1037.081614,NaN

In [6]:
image_list = df["image_path"].unique()

print(len(image_list))

train_list = image_list[:int(len(image_list) * 0.5)]

valtest_list = image_list[int(len(image_list) * 0.5):]
val_list = valtest_list[:int(len(valtest_list) * 0.4)]
test_list = valtest_list[int(len(valtest_list) * 0.4):]

print(len(train_list), len(val_list), len(test_list))

229
114 46 69

In [8]:
train_df = df[df["image_path"].isin(train_list)]
val_df = df[df["image_path"].isin(val_list)]
test_df = df[df["image_path"].isin(test_list)]

print(len(train_df), len(val_df), len(test_df))

train_df.to_csv(data_dir / "train.csv", index=False)
val_df.to_csv(data_dir / "val.csv", index=False)
test_df.to_csv(data_dir / "test.csv", index=False)

697 292 538

: